<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <%=json.arr[0].name%>
    <%=json.arr[0].age%>
    <%
        var str='<div></div>';
    %>
    <%=str%>
    <%-str%>
</body>
</html>